<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Age calculator</h2>
            <form action="BirthResult" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="Name">Imię</label>
                    <input class="form-control" type="text" name="Name"/>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="dateOfBirth">Data Urodzenia</label>
                    <input class="form-control" type="date" name="dateOfBirth" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Oblicz</button>
                </div>
            </form>
        </div>
    </div>
</div>