@model Data.Entities.AlbumEntity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AlbumEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlbumId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Band" class="control-label"></label>
                <input asp-for="Band" class="form-control" />
                <span asp-validation-for="Band" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackList" class="control-label"></label>
                <input asp-for="TrackList" class="form-control" />
                <span asp-validation-for="TrackList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record" class="control-label"></label>
                <input asp-for="Record" class="form-control" />
                <span asp-validation-for="Record" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
