@model Contact

<h1>Dodaj kontakt</h1>
<form asp-controller="Contact" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone"></label>
        <input class="form-control" asp-for="Phone" />
        <span class="text-danger" asp-validation-for="Phone"></span>

    </div>

    <div class="mb-3">
        <label asp-for="Birth"></label>
        <input class="form-control" asp-for="Birth" />
        <span class="text-danger" asp-validation-for="Birth"></span>
    </div>

    <div class="mb-3">
        <label for="filter">Filtr organizacji</label>
        <input class="mb-3 form-control" type="text" id="filter" />
        <select class="form-control" asp-for="OrganizationId"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Priority"></label>
        <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
        <span class="text-danger" asp-validation-for="Priority"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn-primary">Utwórz</button>
    </div>
</form>


@section Scripts {
    <script>
        let select = document.getElementById("OrganizationId");
        let filter = document.getElementById("filter");
        filter.onchange = function (e) {
            if (filter.value.lenght == 0) {
                return;
            }
            fetch(`/api/organizations?q=${filter.value.toUpperCase()}`)
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    }
                    throw "no ok, status " + response.status;
                })
                .then(json => {
                    select.innerHTML = '';
                    for (let item of json) {
                        let option = document.createElement('option');
                        option.setAttribute('value', item.id);
                        option.innerText = item.name;
                        select.appendChild(option);
                    }
                })
                .catch(e => {
                    console.log('cant get data from api', e);
                });
        };
    </script>
}